* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
  background-color: #075583;
}

.container {
  text-align: center;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

h1 {
  margin-bottom: 20px;
}

input,
button {
  padding: 20px;
  text-align: center;
  margin: 10px auto;
  font-size: 16px;
  width: 100%;
}

input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: #d74f00;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

button:hover {
  background-color: #c74d06;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

#displayArea {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-transform: capitalize;
}

p {
  margin: 10px;
}
